body {
    background-color: rgb(245, 234, 220);
}

.form3 {
    font-family: Georgia;
    text-align: center;
    font-size: 25px;
    color: rosybrown;
}

.group3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 23px;
    color: sienna;
}

.image3 {
    display: inline-block;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    background-position: center center;
    background-size: cover;
}

.text3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: sienna;
    padding-top: 9%;
    padding-right: 160px;
    float: right;
}

.home-button {
    position: absolute; /* Change to 'fixed' if you want it to stay on scroll */
    top: 20px; /* Adjust top spacing */
    right: 20px; /* Adjust right spacing */
    padding: 10px 20px;
    color: sienna;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
}